@charset "utf-8";
:root {
  --main-font: "Noto Sans KR", sans-serif;
  --sub-font: "Montserrat", sans-serif;
  --base-font: "Montaga", serif;
  --main-color: #ffb6b6;
}


/* set up cơ bản cho main */
body {font-family: "Noto Sans KR", sans-serif; font-size: 1.6rem; line-height: 1.5; color: #333; }
.wrap {overflow-x: hidden;}
.inner {max-width: 1600px; margin: 0 auto; padding: 0 20px;}

/* HEADER */
#header {position: fixed; top: 0; left: 0; width: 100%; z-index: 3; color: #fff;}
#header .inner {display: flex; justify-content: space-between; height: 100px; align-items: center; max-width: 1740px;}
#header h1 a {display: block; width: 250px;}
#header h1 a img {display: block; width: 100%;}
#header .gnb {display: flex;}
#header .gnb li a {display: block; font-size: 2rem; padding: 10px 50px; font-family: var(--sub-font);}
#header .inner > a {display: block; font-family: var(--sub-font); background: url(../images/ico_global.svg) no-repeat left 20px center; padding: 10px 20px 10px 60px; border: 1px solid rgba(255,255,255,0.5);}
#header .gnb > li {position: relative;}
#header .gnb > li::before {content: ""; display: block; width: 0; height: 4px; background: var(--main-color); position: absolute; left: 50%; bottom: 0; opacity: 0; transition: all 0.5s;}
#header .gnb > li:hover::before {opacity: 1; width: 100%; transform: translate(-50%);}


@media (max-width: 1400px) {
  #header .gnb li a {display: block; font-size: 1.8rem; padding: 5px 30px; font-family: var(--sub-font);}
  #header .inner > a {padding: 10px 20px 5px 60px;}
  #header h1 a {display: block; width: 220px;}
}
@media (max-width: 1180px) {
  #header .gnb {display: none;}
  #header .inner {height: 80px;}
}
@media (max-width: 768px) {
  #header h1 a {display: block; width: 190px;}
  #header .inner > a {transform: scale(80%);}
  #header .inner {height: 60px;}
}




/* SECTION 1 - welcome page */
@keyframes txtAni_h2 {
  0% { transform: translate(0,50px); opacity: 0; }
  20%,80% { transform: translate(0,0); opacity: 1; }
  100% { transform: translate(0,0); opacity: 0; }
}

@keyframes txtAni_p {
  0%,10% { transform: translate(0,50px); opacity: 0; }
  30%,80% { transform: translate(0,0); opacity: 1; }
  100% { transform: translate(0,0); opacity: 0; }
}

.visual {background: url(../images/bg4.png) no-repeat center center / cover; position: relative;}
.visual video {position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover;}
.visual .visual_txt {position: absolute; left: 50%; top: 20vw; transform: translate(-50%); color: #fff; text-align: center; }
.visual .visual_txt h3 {font-size: 3.5rem; line-height: 1.2; padding-bottom: 10px; font-family: var(--base-font); font-weight: 400; animation: txtAni_h2 6s infinite;}
.visual .visual_txt p {font-size: 2.5rem; font-weight: 200; animation: txtAni_p 6s infinite; }

.visual .visual_txt::before {content: ""; display: block; width: 0; height: 100px; background: var(--main-color); position: absolute; left: 50%; bottom: 0; opacity: 0; transition: all 0.5s;}
.visual .visual_txt:hover::before {opacity: 0.3; width: 100%; transform: translate(-50%);}

@media (max-width: 1400px) {
  .visual .visual_txt h3 {font-size: 3rem;}
  .visual .visual_txt p {font-size: 2rem;}
}
@media (max-width: 1180px) {
  .visual .visual_txt {top: 28vw; }
  .visual .visual_txt h3 {font-size: 2.5rem;}
  .visual .visual_txt p {font-size: 1.7rem;}
}
@media (max-width: 768px) {
  .visual .visual_txt {top: 40%;}
  .visual .visual_txt h3 {font-size: 2.5rem; font-weight: 700;}
  .visual .visual_txt p {display: none;}
  .visual .visual_txt::before {display: none;}
}



.section h2 {font-family: var(--base-font); font-size: 3.5rem; font-weight: 400; position: relative; padding-bottom: 30px;}
.section h2::before {content: "Taesu & Thuy Truc"; position: absolute; font-size: 1.5rem; top: -30px; color: #fff; font-family: var(--sub-font); letter-spacing: 3px;}
@media (max-width: 1180px) {
  .section h2 {font-size: 2.7rem;}
  .section h2::before {font-size: 1.4rem; top: -20px;}
}
@media (max-width: 768px) {
  .section h2 {font-size: 2.2rem;}
  .section h2::before {font-size: 1.3rem; top: -20px;}
}


@keyframes ball {
  0% {}
  100% {opacity: 0; transform: translateY(18px);}
}

.scroll {position: absolute; left: 50%; transform: translateX(-50%); bottom: 50px; color: #fff; text-transform: uppercase;}
.box {display: block; width: 26px; height: 40px; border: #fff 1px solid; border-radius: 30px; margin: 0 auto;}
.ball {display: block; width: 8px; height: 8px; background: #fff; border-radius: 50%; position: absolute; left: calc(50% - 4px); top: 9px; animation: ball 2s infinite;}


/* SECTION 2 - invitation*/

@keyframes fadeInRight {
  0% {
    opacity: 0; /* Bắt đầu mờ hoàn toàn */
    transform: translateX(30px); /* Xuất hiện từ bên phải */
  }
  100% {
    opacity: 1; /* Hiển thị hoàn toàn */
    transform: translateX(0); /* Vị trí ban đầu */
  }
}

.invitation {background: var(--main-color)}
.invitation .inner {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
.invitation .invi_txt {width: 40%;}
.invitation .invi_txt .invi_info > li {font-family: var(--base-font); position: relative; display: flex; border-top: 1px solid rgba(255,255,255,0.8); font-size: 2.5rem; align-items: center; padding: 20px 0; color: rgba(255,255,255,0.9);}
.invitation .invi_txt .invi_info > li strong {color: darkred; animation: fadeInRight 1.5s ease-in-out infinite;}
.invitation .invi_txt .invi_info > li:last-child {border-bottom: 1px solid rgba(255,255,255,0.5); }
.invitation .invi_txt .invi_info > li span {display: inline-block; font-size: 2rem; position: absolute; top: 50%; transform: translateY(-50%); left: 160px; color: rgba(255,255,255,1);}
.invitation .invi_txt .invi_info > li span::before {content: "➤"; margin-right: 8px; color: #555; 
  font-size: 1rem; vertical-align: middle;}


.invitation .invi_list {width: 50%; height: auto; margin: 0 auto;}
.invitation .invi_list li {display: flex; justify-content: center; align-items: center; position: relative; width: 100%; height: 100%;}
.invitation .invi_list li img {display: block; width: 100%; height: auto; object-fit: cover; border-radius: 50px;}

@media (max-width: 1180px) {
  .invitation .invi_txt .invi_info > li {font-size: 2.3rem; padding: 15px;}
  .invitation .invi_txt .invi_info > li span {left: 150px;}
}

@media (max-width: 768px) {
  .invitation .inner {padding: 60px 0 50px; gap: 30px;}
  .invitation .invi_txt {width: 100%; text-align: center; padding: 0 20px;}
  .invitation .invi_list {width: 100%;}
  .invitation .invi_txt .invi_info > li {font-size: 1.9rem; padding: 10px 0;}
  .invitation .invi_txt .invi_info > li > span {font-size: 1.6rem; text-align: left; left: 100px;}
  .invitation .invi_txt > h2 {padding-bottom: 10px;}
  .invitation .invi_txt > h2::before {left: 50%; transform: translateX(-50%);}
}


/* SECTION 3 - STORY - ABOUT US */
.story {position: relative; color: #fff; overflow: hidden;}
.story .story_bg {position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;}
.story .story_tit {padding: 30px 0; align-items: center; text-align: center; }
.story .story_tit > h2::before {left: 50%; transform: translateX(-50%); color: var(--main-color);}
.story .inner {max-width: 80%; display: flex; flex-wrap: wrap; align-items: center;}
.story .inner > div {width: 50%; text-align: center;}
.story .story_txt h4 {font-size: 2.5rem; padding-bottom: 30px;}
.story .story_txt p {font-size: 2rem; color: #858585;}
.story .story_img img {display: block; width: 100%;}
.story .story_img .swiper-pagination-bullet {background: #fff; opacity: 1; transition: all 0.5s;}
.story .story_img .swiper-pagination-bullet-active {background: var(--main-color);}

@media (max-width: 1200px) {
  .story .story_tit {padding: 10px 0;}
  .story .inner > div {width: 100%;}
  .story .story_txt {padding: 0 0 30px;}
  .story .story_txt h4 {font-size: 2rem; padding-bottom: 20px;}
  .story .story_txt p {font-size: 1.6rem;}
  .story .story_tit {padding: 40px 0 20px;}
}
@media (max-width: 768px) {
  .story .inner {max-width: 100%;}
  .story .story_txt {padding: 0 0 30px;}
  .story .story_txt br {display: none;}
  .story .story_tit {padding: 50px 0 20px;}
}



/* SECTION 4 - memories */
.memories {background-color: rgba(255,182,182,0.3); text-align: center;}
.memories .inner  > h2::before {left: 50%; transform: translateX(-50%); color: #ffb6b6;}
.memories .mem_list {display: flex; flex-wrap: wrap;}
.memories .mem_list li {position: relative; width: 100%; }
.memories .mem_list li img {display: block; width: 100%; filter: saturate(1.1) sepia(0.2); border-radius: 30px;}
.memories .mem_list li span {position: absolute; display: block; bottom: 0; left: 50%; transform: translateX(-50%); background: #fff; padding: 10px 20px 0 20px; font-size: 2rem; font-family: var(--sub-font);}


@media (max-width: 768px) {
  .memories .inner {padding: 0;}
  .memories .mem_list li span {padding: 5px 10px 0 10px; font-size: 1.6rem;}
}


/* SECTION 5 - MAP */
@keyframes moveCar {
  0% {
    transform: translateX(0); /* Bắt đầu từ trái */
  }
  100% {
    transform: translateX(100vw); /* Đi đến hết chiều ngang màn hình */
  }
}
.location {background: #fcf6f2; text-align: center; padding: 50px; flex-wrap: wrap;}
.location .inner  > h2::before {left: 50%; transform: translateX(-50%); color: #ffb6b6;}
.location .guide {padding: 30px; text-align: left; font-family: var(--base-font); position: relative; margin-top: 20px;}
.location .icon_car {position: absolute; width: 65px; height: 30px; top: 0; left: 0; animation: moveCar 5s linear infinite;}
.location .icon_car img {display: block; width: 100%;}

.location .guide p strong {font-size: 2rem;}
.location .guide p {opacity: 0.8;  padding: 10px 0;}


@media (max-width: 768px) {
  .location {padding: 0;}
  .location .map-container iframe {height: 250px;}
  .location .guide {padding: 30px 0 10px; margin-top: 20px;}
  .location .guide p strong {font-size: 1.7rem;}
  .location .guide p {font-size: 1.4rem; padding: 3px 0;}
}




/* FOOTER */
#footer {position: relative; padding: 50px 0;}
#footer .inner {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
#footer .footer_img {width: 30%;}
#footer .footer_img img {display: block; width: 100%; border-radius: 30px;}
#footer .footer_txt {width: 65%; text-align: center;}
#footer .footer_txt h4 {font-family: var(--base-font); font-size: 3rem; padding-bottom: 50px; font-weight: 400;}
#footer .footer_txt h4::before {content: "\2764"; font-size: 20px; margin-right: 10px; vertical-align: middle; color: var(--main-color)}
#footer .account {display: flex; justify-content: center; gap: 100px; flex-wrap: wrap; margin-bottom: 20px;}
#footer .account p {font-family: var(--base-font); font-size: 2rem; padding-bottom: 20px;}
#footer .account button {background: var(--main-color); border: rgba(0,0,0,0.5) 1px solid;  padding: 10px 100px; color: #fff; font-weight: 700; font-size: 1.7rem; border-radius: 30px; cursor: pointer;}
#footer .account dl {padding: 20px 0; border-radius: 30px; background: #fcf6f2; opacity: 0; height: 0; overflow: hidden; transition: opacity 0.3s ease, height 0.3s ease;}
#footer .account dl dt {padding-bottom: 10px; font-weight: 700;}
#footer .account dl.active {opacity: 1; height: auto;}
#footer .thanks {position: absolute; bottom: 0; left: 0; width: 100%; text-align: center; padding: 30px; background: linear-gradient(to right, #555, #333); color: #fff;}
#footer .thanks > p {opacity: 0.8;}
#footer .thanks .copy {font-style: italic; padding-top: 5px;}
#footer .thanks > p.copy::before {content: "\2764"; font-size: 20px; margin-right: 10px; vertical-align: middle; color: #fff;}


@media (max-width: 1200px) {
  #footer .footer_txt h4 {font-size: 2rem; padding-bottom: 30px;}
  #footer .account {gap: 50px;}
  #footer .account p {font-size: 1.8rem; padding-bottom: 10px;}
  #footer .account button {padding: 10px 100px; font-size: 1.5rem;}
  #footer .footer_txt h4 {font-size: 2rem; padding-bottom: 30px;}
}
@media (max-width: 768px) {
  #footer {padding: 10px 0 50px;}
  #footer .footer_txt h4 {font-size: 1.6rem; padding-bottom: 10px;}
  #footer .account {gap: 5px;}
  #footer .inner {justify-content: center;}
  #footer .account p {font-size: 1.6rem; padding-bottom: 10px;}
  #footer .account dl {padding: 5px 0;}
  #footer .account button {padding: 10px 100px; font-size: 1.5rem;}
  #footer .footer_img {width: 60%;}
  #footer .footer_txt {width: 100%; padding: 10px 0 30px;}
  #footer .thanks {padding: 10px; font-size: 1.2rem;}
}

